*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid grey;
}
.add-one{
    margin-left: 15px;
}
.add-two{
    margin-left: 5px;
}
.add-icon{
    display: flex;
}
.nav-search{
    display: flex;
    background-color: aqua;
    width: 500px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    
}
.select-button{
    width: 50px;
    text-align: center;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    border: none;
    background-color:beige ;
}
.search-box{
    width: 100%;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    border-top-right-radius : 4px;
    border-bottom-right-radius : 4px;
}
.span{
    font-size: 15px;
}
.para1{
    font-size: 12px;
}

.nav-cart i{
    font-size: 25px;
}
.nav2{
    display: flex;
    height: 40px;
    background-color: #444242;
    justify-content: space-evenly;
    align-items: center;

}
.nav2-list a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.nav2-list {
    width: 1300px;
    font-size: 13px;
    justify-content: space-evenly;
}

.main-section{
    background-image: url(hero1.jpg);
    height: 450px;
    background-position: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-section-text{
    background-color: white;
    color: #0f1111;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px
}

.content{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    background-color: rgb(245, 217, 217);
    
}
.box{
    height: 400px;
    width: 23%;
    border-radius: 8px; 
    padding: 20px 0px 15px;
    background-color: white;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
}
.box1-img{
    height: 300px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.box1-content{
    margin-left: 20px;
    margin-right: 20px;
    
    
}

.content1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background-color:rgb(229, 227, 227);
}
.content1-box{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 6px;
}
.img-content1 img{
    height: 200px;
    width: 15%;
    margin-top: 10px;
    margin-right: 13px;
    align-items: center;
    border-radius: 6px;
}
.con{
    height: 30px;
    width: 100%;
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-panel1{
    background-color: #333;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    
}

ul{
    margin-top: 30px;
}
ul a{
    display: block;
    margin-top: 5px;
}

.footer-panel2{
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel3{
    background-color: #0f1111;
    color: antiquewhite;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}